@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>
<RadzenDialog />
<RadzenNotification />
<div class="main">
    <div class="top-row">
        <LogoutDisplay />
    </div>

    <div class="content">
        @Body
    </div>
</div>
